#!/usr/bin/make -f

PKGDIR = debian/questlog
SHARE  = $(PKGDIR)/usr/share/questlog

%:
	dh $@

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_install:
	install -d $(SHARE)/lib $(SHARE)/ui $(SHARE)/data
	cp lib/*.tcl $(SHARE)/lib/
	cp ui/*.tcl  $(SHARE)/ui/
	cp data/*.csv $(SHARE)/data/
	install -D -m 0755 questlog $(PKGDIR)/usr/bin/questlog
	sed -i 's|^set ROOT .*|set ROOT /usr/share/questlog|' $(PKGDIR)/usr/bin/questlog
	install -D -m 0644 questlog.desktop \
	    $(PKGDIR)/usr/share/applications/questlog.desktop
