#!/usr/bin/make -f

PKGDIR = debian/find-my-session
SHARE  = $(PKGDIR)/usr/share/find-my-session

%:
	dh $@

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_install:
	install -d $(SHARE)/lib $(SHARE)/ui
	cp lib/*.tcl $(SHARE)/lib/
	cp ui/*.tcl  $(SHARE)/ui/
	install -D -m 0755 fms $(PKGDIR)/usr/bin/fms
	sed -i 's|^set ROOT .*|set ROOT /usr/share/find-my-session|' $(PKGDIR)/usr/bin/fms
	install -D -m 0644 find-my-session.desktop \
	    $(PKGDIR)/usr/share/applications/find-my-session.desktop
